<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.zhku.jsj144.lzc.video.mapper.CategoryMapper">

	<resultMap id="categoryMap" type="edu.zhku.jsj144.lzc.video.pojo.Category"/>

	<select id="selectCategories" resultType="edu.zhku.jsj144.lzc.video.pojo.Category" resultMap="categoryMap">
		select * from `category`
	</select>
</mapper>