<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.zhku.jsj144.lzc.video.mapper.FavoriteMapper">

	<resultMap id="favoriteMap" type="edu.zhku.jsj144.lzc.video.pojo.Video"/>

	<select id="selectFavoriteID" resultType="String">
		select id from `favorite` where vid = #{vid} and uid = #{uid}
	</select>

	<select id="selectFavoriteVideos" resultMap="favoriteMap">
		select video.id, title, video.uid, video.description, video.datetime
		from `favorite`, `video`
		where `favorite`.vid = `video`.id
		and `favorite`.uid = #{uid} order by `favorite`.datetime desc limit #{pstart}, #{psize}
	</select>

    <delete id="deleteFavoriteVideo">
        delete from `favorite` where vid = #{vid} and uid = #{uid}
    </delete>
</mapper>