<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.zhku.jsj144.lzc.video.mapper.UserMapper">

    <resultMap id="userMap" type="edu.zhku.jsj144.lzc.video.pojo.UserEx"/>

	<select id="selectUserByName" resultType="edu.zhku.jsj144.lzc.video.pojo.User">
		select id, password from `user` where username = #{username}
	</select>
	
	<select id="selectUserById" resultType="edu.zhku.jsj144.lzc.video.pojo.User">
		select id, username, description from `user` where id = #{id}
	</select>

	<select id="selectUsers" resultMap="userMap">
		select `user`.id, username, description,
        (select count(s_uid) from `subscribe` where s_uid = `user`.id) as scNum
		from `user`
		order by scNum desc limit #{pstart}, #{psize}
	</select>

    <select id="selectUsersByUID" resultMap="userMap">
        select `user`.id, username, description, (select count(s_uid)) as scNum
        from `user`,`subscribe` where `user`.id = s_uid and `subscribe`.uid = #{mineId} group by s_uid
        order by scNum desc limit #{pstart}, #{psize}
    </select>

    <select id="selectUsersByUsername" resultMap="userMap">
        select `user`.id, username, description,
        (select count(s_uid) from `subscribe` where s_uid = `user`.id) as scNum
        from `user`
        where username like #{username}
        order by scNum desc limit #{pstart}, #{psize}
    </select>
</mapper>